@import 'node_modules/bootstrap/scss/bootstrap.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.8);
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.8);
}

:root{
	--main-bg-color: #000000;
	--header-bg-color: transparent;
	--text-color: #fff;
	--hover-color: #7e7e7e;
	--card-color: #383838;
	--things: #279a3a;
}

html,
body {
	height: 100%;
	width: 100%;
}

.app {
	height: 100%;
	width: 100%;
	background-color: var(--main-bg-color);
}

.header {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: var(--header-bg-color);
	font-family: 'Oswald', sans-serif;
	position: fixed;
	z-index: 1;

	.navbar {
		display: flex;
		width: 100%;
		height: 7vh;
		align-items: center;
		justify-content: flex-start;

		&--elements{
			margin-left: 78%;
		}
		a {
			color: var(--text-color);
			text-decoration: none;
			margin: 0 1rem;

			.icon {
				width: 2rem;
			}
		}
	}
}

.element:hover, .icon:hover{
	cursor: pointer;
	background-color: var(--hover-color);
	border-radius: 2px;
}

.card{
	min-height: 230px;
	background-color: var(--main-bg-color);
	transition: 0.5s ease-in-out;
	//background: var(--main-bg-color) radial-gradient(circle, transparent -2%, var(--main-bg-color) 1%) center/15000%;

	&-body{
		text-align: center;
		font-size: small;
	}

	&-title{
		font-size: 1rem;
	}

	&-description{
		color: var(--text-color);
		height: 3rem;
	}

	&-text{
		color: var(--text-color);
	}
}

.card:hover{
	transform: scale(1.07);
	box-shadow:  0px 0px 10px 5px var(--card-color);
	//background-color: var(--card-color);
	background-size: 100%;
	transition: 0.2s ease-in-out;
}

.repoTitle{
	color: var(--things);
}

main {
	padding: 1rem;
	display: block;
	min-height: 93vh;
}

.list {
	display: flex;
	list-style: none;
	justify-content: flex-start;

	&__item {
		margin: 0.5rem 0;

		&__title {
			font-size: 1rem;
			margin-bottom: 10px;
		}

		&__link {
			color: var(--text-color);
			text-decoration: none;
			font-weight: 300;
			padding: 0.35rem 0.75rem;
			text-align: center;
			font-family: 'Oswald', sans-serif;
			font-size: 20px;

			&--active {
				border-bottom: 2px solid #279a3a;
			}
		}

		&__description {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}

.home{
	margin-top: 18rem;
	text-align: center;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}

.containerHome{
	padding: 1rem;
	display: block;
	min-height: 110vh;
	background-image: url('../src/img/fondo.jpg');
}

.repoContainer{
	background-color: var(--main-bg-color);
	padding: 2.5rem;
	display: block;
	min-height: 100vh;
}

.aboutCont{
	background-color: var(--main-bg-color);
	padding: 3rem;
	display: block;
	min-height: 100vh;
}

.aboutContainer{
	color: #fff;
	margin-left: 9rem;
}

.textContainer{
	width: 30vw;
}

.textBoxes{
	display: flex;
}

.personalInfo{
	width: 12rem;
	margin: 3rem 10rem 0 0;
}

.redes{
	color: var(--text-color);
	text-decoration: underline;
	margin-right: 4rem;
	align-items: flex-end;
}

.fab{
	margin-bottom: 0.8rem;
}

.redes:hover{
	color: var(--things);
}

.redes {
	position: relative;
	overflow: hidden;
	width: auto;
	height: 40px;
	display: inline-flex;
	
	margin: 0px 35px 25px 5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}

.btn{
	font-size: large;
	color: var(--text-color);
	border-color: var(--text-color);
	margin-top: 1rem;
	border-radius: 0;

	&--container{
		text-align: center;
	}

	&-card{
		background-color: var(--header-bg-color);
		color: var(--text-color);
		font-size: medium;
	}
}

.btn:hover{
	font-size: large;
	background-color: var(--main-bg-color);
	color: var(--things);
	border-color: var(--things);
	margin-top: 1rem;
	border-radius: 10px;
}

.btn-repo:hover{
	background-color: var(--header-bg-color);
	border-color: var(--things);
	color: var(--things);
	margin-top: 1rem;
	border-radius: 10px;
}

.nav-item{
	color: var(--text-color);
}

.subtitle{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	margin-bottom: 1rem;
}

.title, .btn{
	width: auto;
	-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 5s; /* Firefox < 16 */
	-ms-animation: fadein 5s; /* Internet Explorer */
	-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
	transition: 0.5s ease-in-out;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.list{
	position: relative;
}

.list ul{
	position: relative;
}

.list ul li{
	position: relative;
	margin: 6px 0;
	left: 0;
	list-style: none;
	border-left: 2px solid var(--things);;
	transition: 0.5s;
	cursor: pointer;
}

.list ul li::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--things);
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s;
}

.list ul li:hover::before{
	transform: scaleX(1);
}

.list ul li:hover{
	left: 10px;
}

.list ul li span{
	position: relative;
	padding: 8px;
	display: inline-block;
	z-index: 1;
	transition: 0.5s;
}

.list ul li:hover span{
	color: #111;
}